<%= react_component 'Appointments', appointments: @appointments%>

<!--
<h1>React Calendar</h1>
<h2>Appointments</h2>
<h3>Make a new appointment</h3>

<%= form_for @appointment, remote: true do |f| %>
  <%= f.text_field :title, placeholder: 'appointment'  %>
  <%= f.text_field :apt_time, placeholder: 'yyyy-mm-dd hh:mm:ss'  %>
  <%= f.submit %>
<% end %>

<% @appointments.each do |appointment| %>
  <h3><%= appointment.title %></h3>
  <p><%= appointment.apt_time.to_s %></p>
<% end %>
-->
